* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__menu-bar {
    width: 100%;
    background-color: #000;
    color: #eee;
}

.container__menu-bar {
    padding: .5rem;
}

body {
    background-image: url("https://wallpapercave.com/wp/wp2757954.gif");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;  
  }

.container__movie-card {
    margin-top: .5rem;
    background-color: #eee;
    /* border: solid #000 .5rem; */
    border-radius: 1rem;
    opacity: .95;
}

#moviesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    margin: 10px;
    width: 200px;
}

img {
    width: 200px;
    border-radius: 1rem;
    box-shadow: 0 10px 15px 0 #000000f5;
    opacity: .95;
}