* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__header {
    background-color: #000;
    color: #eee;
}

.container__header__menu-bar > h1 {
    margin: .25rem 1rem;
    font-weight: 700;
}

body {
    background-image: url("https://wallpapercave.com/wp/wp2757954.gif");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;  
  }

.container__main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__movie-card {
    width: 90%;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    background-color: #eee;
    /* border: solid #000 .5rem; */
    border-radius: 1rem;
    opacity: .95;
}

#moviesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    margin: 10px;
    width: 200px;
}

img {
    width: 200px;
    border-radius: 1rem;
    box-shadow: 0 10px 15px 0 #000000f5;
}

.container__footer__my-redes {
    height: 3rem;
    background-color: #000;
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container__footer__my-redes__titulo,
  .container__footer__my-redes__icon {
    padding: 0 0 0 .35rem;
  }
  
  .container__footer__my-redes__icon a {
    padding: 0 .35rem;
  }